<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shivam.HotelManagement">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Activity.hotelmanagemnet"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hotel Management"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity"></activity>
        <activity
            android:name=".Activity.ManagerActivity"
            android:label="@string/title_activity_manager"
            android:windowSoftInputMode="stateHidden"
            />
        <!--
        activity
            android:name=".Activity.ManagerActivity"
            android:label="@string/title_activity_manager"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shivam.HotelManagement.Activity.MainActivity"/>
        </activity
        -->
        <activity android:name=".Activity.DateActivity" />
        <activity android:name=".Activity.CustomerActivity" />
        <activity android:name=".Activity.ShiftsActivity" />
        <activity android:name=".Activity.ChangeDetailsActivity" />
        <activity
            android:name=".Activity.SupervisorActivity"
            android:label="@string/title_activity_supervisor" />
        <!-- activity android:name=".Activity.RegisterActivity" / -->
        <activity
            android:name=".Activity.RegisterActivity"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shivam.HotelManagement.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.FoodActivity"
            android:label="@string/title_activity_food"
            android:parentActivityName=".Activity.ManagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shivam.HotelManagement.Activity.ManagerActivity" />
        </activity>
        <activity
            android:name=".Activity.LaundryActivity"
            android:label="@string/title_activity_laundry"
            android:parentActivityName=".Activity.ManagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shivam.HotelManagement.Activity.ManagerActivity" />
        </activity>
        <!-- activity android:name=".Activity.GuestActivity" / -->
        <!--
        <activity
            android:name="com.example.shiGuestActivityvity"
            android:label="@string/title_activity_guest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.employeedetails"
            android:label="@string/title_activity_employeedetails"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity android:name=".Activity.FDSActivity" />
        <activity
            android:name=".employeedetails"
            android:label="@string/title_activity_employeedetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.EmployeesListActivity" />
        <activity
            android:name=".Addstaff"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.GuestActivity"
            android:label="@string/title_activity_guestactivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <!-- activity android:name=".Activity.LaundryActivity" -->
        <!-- /activity -->
        <activity android:name=".Activity.PaymentActivity" />
    </application>

</manifest>